@import "tailwindcss";

@font-face {
    font-family: "muli";
    src: url("./assets/Muli-1GDlj.ttf");
}

:root{
    --primary:#3A5451;
    --dropdown:#F4F5F5;
}

@layer utilities{
    .text-primary{
        color: var(--primary);
    }
    .bg-primary{
        background-color: var(--primary);
    }
    .font-muli{
        font-family: "muli", sans-serif;
    }
    .bg-dropdown{
        background-color: var(--dropdown);
    }

}